@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



@layer base {}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Adicione isso no seu arquivo CSS global ou módulo CSS */

.typing-effect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  border-right: 3px solid #A8AFF5; /* Define o estilo do ponteiro */
  animation: 
    typing 4s steps(100) 1s forwards, 
    blink-caret 0.5s step-end infinite, /* Cursor pisca desde o início */
    disappear-caret 1s 2.5s forwards; /* Cursor desaparece no final */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@keyframes disappear-caret {
  100% {
    border-color: transparent;
  }
}

.bg-spiral {
  background: conic-gradient(
    #714aff 10%, 
    #EBE1EF 10% 20%, 
    #714aff 20% 30%, 
    #EBE1EF 30% 40%, 
    #714aff 40% 50%, 
    #EBE1EF 50% 60%, 
    #714aff 60% 70%, 
    #EBE1EF 70% 80%, 
    #714aff 80% 90%, 
    #EBE1EF 90% 100%
  );
  background-size: 400% 400%;
  animation: spiralBackground 5s infinite linear;
}

@keyframes spiralBackground {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}